<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boot.graphql.mapper.RegimenDrugRelMapper">

    <insert id="save" parameterType="com.example.boot.graphql.entity.RegimenDrugRel" useGeneratedKeys="true" keyProperty="id">
        insert into t_regimen_drug_rel (regimen_id, drug_id) values(#{regimenId}, #{drugId})
    </insert>

</mapper>